<!-- your html code here -->
<!-- <div class="container bg-light mt-5 mb-1">
    <div class="row py-5 border-top border-1">
        <div class="col-8 ps-5">
            <h2>The First Heading Will Catch Your Eye</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis omnis a, velit deserunt cum ea, aperiam tempore labore iste fugiat nihil, esse totam architecto id animi ipsa praesentium numquam rerum.
            Placeat animi, voluptate eaque dolor unde consequuntur deleniti eos eum nostrum ratione, ipsam error voluptatum magnam excepturi nisi sapiente at itaque? Mollitia necessitatibus eveniet quidem asperiores a deleniti ipsam beatae.
            </p>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <img src="https://img.freepik.com/vector-premium/avatar-personaje-masculino-joven-retrato-aislado-adolescente-sueter-foto-personaje-redes-sociales-o-cv-estudiante-secundaria-o-universidad-vector-chico-amigable-plano_87689-2390.jpg" class="rounded-circle" width="300" height="300"/>
          </div>
    </div> 
</div> -->

<div class="container bg-white mb-1" style="margin-top: 70px;"> <!-- First Heading -->
  <div class="row border-top border-1" style="padding-top: 7rem; padding-bottom: 7rem;">
      <div class="col-8 px-0">
          <h2>
              The First Heading <span style="color: #747474">Will Catch Your Eye</span>
          </h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis omnis a, velit deserunt cum ea, aperiam tempore labore iste fugiat nihil, esse totam architecto id animi ipsa praesentium numquam rerum.
          Placeat animi, voluptate eaque dolor unde consequuntur deleniti eos eum nostrum ratione, ipsam error voluptatum magnam excepturi nisi sapiente at itaque? Mollitia necessitatibus eveniet quidem asperiores a deleniti ipsam beatae.
          </p>
        </div>
        <div class="col-4 px-0 d-flex justify-content-end">
          <img src="https://img.freepik.com/vector-premium/avatar-personaje-masculino-joven-retrato-aislado-adolescente-sueter-foto-personaje-redes-sociales-o-cv-estudiante-secundaria-o-universidad-vector-chico-amigable-plano_87689-2390.jpg" class="rounded-circle" width="300" height="300"/>
        </div>
  </div>
</div>
