<div class="container-fluid pt-5 bg-light my-5">
    <div class="row pt-2">
        <h2>Portfolio</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto illum placeat consequuntur amet in sit tempora enim culpa voluptatem corrupti! Commodi odio inventore provident esse voluptatem sint laboriosam labore similique?
        </p>
        <div class="col-4 mb-5">
            <div class="card border-0">
                <img src="https://www.codedimension.com.ar/public/images/noticias/1-que-es-y-para-que-sirve-un-sitio-web-20230602091504.webp" class="card-img-top ratio ratio-4x3" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card border-0">
                <img src="https://www.codedimension.com.ar/public/images/noticias/1-que-es-y-para-que-sirve-un-sitio-web-20230602091504.webp" class="card-img-top ratio ratio-4x3" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card border-0">
                <img src="https://www.codedimension.com.ar/public/images/noticias/1-que-es-y-para-que-sirve-un-sitio-web-20230602091504.webp" class="card-img-top ratio ratio-4x3" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary">Project Name</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>